{% extends "::base.html.twig" %}

{% block title %}toto{% endblock %}

{% block body %}


    <div class="container">

        {% if subCategory is defined %}
            <h1 class="text-center">Recherche de "{{ subCategory.subName }}"</h1>

                <div class="row">

                    <div class="col-xs-12">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Catégorie</th>
                                    <th class="text-center">Sous Catégories</th>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Prix</th>
                                    <th class="text-center">Ajouter au panier</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for product in subCategory.products %}

                                        <tr>
                                            <td class="text-center">{{ product.subCategory.category.catName }}</td>
                                            <td class="text-center">{{ product.subCategory.subName }}</td>
                                            <td class="text-center">{{ product.proName }}</td>
                                            <td>{{ product.proDescription }}</td>
                                            <td class="text-center">{{ product.proPrice }}</td>
                                            <td class="text-center"><a href="{{ path('app_cart_showcart') }}"><button type="button" class="btn btn-success"><span style="color: #955628;" class="glyphicon glyphicon-shopping-cart"></span></button></a></td>
                                        </tr>
                            
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        {% endif %}
    </div>


        {% if Category is defined %}
            <h1 class="text-center">Recherche de "{{ Category.catName }}"</h1>

                <div class="row">

                    <div class="col-xs-12">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Catégorie</th>
                                    <th class="text-center">Sous Catégories</th>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Prix</th>
                                    <th class="text-center">Ajouter au panier</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for subCategory in Category.subCategories %}

                                    {% for product in subCategory.products %}

                                        <tr>
                                            <td class="text-center">{{ product.subCategory.category.catName }}</td>
                                            <td class="text-center">{{ product.subCategory.subName }}</td>
                                            <td class="text-center">{{ product.proName }}</td>
                                            <td>{{ product.proDescription }}</td>
                                            <td class="text-center">{{ product.proPrice }}</td>
                                            <td class="text-center"><a href="{{ path('app_cart_showcart') }}"><button type="button" class="btn btn-success"><span style="color: #955628;" class="glyphicon glyphicon-shopping-cart"></span></button></a></td>
                                        </tr>

                                    {% endfor %}

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        {% endif %}
    </div>

{% endblock %}
