{% extends "::base.html.twig" %}

{% block title %}Catalogue{% endblock %}

{% block body %}


    <div class="container">

        <h1 class="text-center">Catalogue</h1>

            <div class="row">

                <div class="col-xs-12">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Catégorie</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Ajouter au panier</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                {# {{ dump(product)}} #}
                                <tr>
                                    <td class="text-center">{{ product.category.catName }}</td>
                                    <td class="text-center">{{ product.proName }}</td>
                                    <td>{{ product.proDescription }}</td>
                                    <td class="text-center">{{ product.proPrice }}</td>
                                    <td class="text-center"><button type="button" class="btn btn-success"><span style="color: #955628;" class="glyphicon glyphicon-shopping-cart"></span></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
    </div>

{% endblock %}
